@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid black;
    background-color: rgb(14, 14, 14);
}

.display {
    padding: 40px 10px 10px 10px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16vw;
}

.calculation {
    font-size: 6vw;
    color: grey;
    height: 6vw;
}

.btn-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.icon.operator {
    font-size: 4vw;
    color: red;
}

.operators {
    display: flex;
    justify-content: space-around;
}

.digits {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    justify-items: center;
    align-items: center;
}

button {
    background-color: rgb(14, 14, 14);
    color: inherit;
    font-size: 5vw;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

button:active {
    background-color: #292928;
}

@media (min-width: 1025px) {
    .calculator {
        width: 35vw;
        height: 90vh;
        border: 1px solid #292928;
        border-radius: 10px;
        margin: 3% auto;
    }

    .display {
        font-size: 4.1vw;
    }

    .calculation {
        font-size: 1.9vw;
        height: 2vw;
    }

    .icon.operator {
        font-size: 1.2vw;
    }

    button {
        font-size: 1.6vw;
    }
}
